h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.App {
  margin: 0;
}

span.underline {
  text-decoration: underline;
}

.blogPost {
  max-width: 40rem;
  margin: 3rem auto;
  background: white;
}

.blogPost img {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}

p {
  margin-top: 0;
}

blockquote {
  border-left: 10px solid #ccc;
  padding: 1rem 0 1rem 1rem;
  margin: 0;
}